.user-profile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .card {
    border: 1px solid #ccc;
    padding: 20px;
  }
  
  .transactions-card {
    grid-column: 1 / 3;
  }
  
  .transactions-card ul {
    list-style-type: none;
    padding: 0;
  }
  
  .transactions-card li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .amount {
    font-weight: bold;
  }
  
  .personal-info-card,
  .beneficiary-card,
  .bank-services-card {
    grid-column: span 1;
  }
  
  h2 {
    margin-top: 0;
  }
  